// Custom.scss
// Option A: Include all of Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// colors
$black: #0b0c10;
$dark-grey: #1f2833;
$light-grey: #c5c6c7;
$light-blue: #66fcf1;
$dark-blue: #45a29e;

* {
  box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    // margin: 0 auto;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

hr {
  width: 80%;
  text-align: center;
  border: 1px solid $dark-grey;
  margin: 2rem auto;
}

.btn {
  background-color: $dark-blue;
  color: $light-blue;
  border: $dark-blue;
}

.btn:hover {
  background-color: $light-blue;
  color: $black;
  border: $dark-blue;
}

nav {
  margin: 0 auto;
}

.jumbotron {
  // mods
  background-image: url('/images/dev-coffee.jpg');
  background-color: transparent;
  color: white;
  height: 600px;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 0;
  // og
  padding: $jumbotron-padding ($jumbotron-padding / 2);
  margin-bottom: $jumbotron-padding;
  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
}

.getInTouch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.contacts {
  margin: 20px;
}

// portfolio
.portfolio-title {
  text-align: center;
  margin: 1rem auto;
}

.card {

}

.card-img-top {
  background-color: $light-blue;

}

.row {
  margin: 0 20px;
}

// skills
#skills {
  text-align: center;
  background-color: $light-blue;
  padding: 1rem 0;
  margin-top: 2rem;
}

.skills-title {
  margin: 2rem auto;
}

.programming {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill {
  margin: 25px;
}

// About
#about {
  text-align: center;
  height: 800px;
  background-color: $dark-blue;
  color: $black;
  padding: 50px 20px;
  margin: 0 auto;
}

.profile {
  border-radius: 50%;
  margin: 50px auto;
}

// contact
#contact {
  display: inline-block;
  background-color: $light-blue;
  color: $black;
  text-align: center;
  width: 100%;
  height: 400px;
  padding: 20px;
}


// back to top button
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: grey; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: lightgrey; /* Add a dark-grey background on hover */
}

// Custom.scss
// Option B: Include parts of Bootstrap

// Required
// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";

// Optional
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/code";
// @import "../node_modules/bootstrap/scss/grid";
