// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";

// colors
$beige: #fdf2d2;
$light-green: #62b16f;
$dark-green: #3f6c45;

body {
    font-family: 'Ubuntu', sans-serif;
}

main {
  max-width: 1280px;
}

hr {
  width: 80%;
  text-align: center;
  border: 1px solid grey;

}

.btn {
  background-color: $dark-green;
  color: $beige;
  border: $dark-green;
}

.btn:hover {
  background-color: $light-green;
  color: $beige;
  border: $light-green;
}

/*
background: url('../img/bg/diagonalnoise.png');
background-color: rgba(248, 247, 216, 0.7);

*/

.jumbotron {
  // mods
  background-image: url('/images/dev-coffee.jpg');
  background-color: transparent;
  color: blue;
  height: 600px;
  width: 1280px;
  margin: 0 auto;
  border-radius: 0;
  // og
  padding: $jumbotron-padding ($jumbotron-padding / 2);
  margin-bottom: $jumbotron-padding;


  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
}

// portfolio
#portfolio {

}

.card-img-top {
  background-color: $light-green;
}

.profile {
  border-radius: 50%;
  // width: 250px;
  // height: 250px;
  margin: 50px auto;
}

// skills
#skills {
  background-color: $light-green;
}

.programming {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill {
  margin: 25px;
}

// About
#about {
  text-align: center;
  height: 700px;
  background-color: $dark-green;
  color: $beige;
}

#contact {
  background-color: $light-green;
  color: $beige;
  text-align: center;
  height: 300px;
  padding: 50px;
}

footer .navbar-nav {
  text-align: center;
}

// back to top button
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: grey; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: lightgrey; /* Add a dark-grey background on hover */
}

// Custom.scss
// Option B: Include parts of Bootstrap

// Required
// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";

// Optional
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/code";
// @import "../node_modules/bootstrap/scss/grid";
