// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";

// colors
$beige: #fdf2d2;
$light-green: #62b16f;
$dark-green: #3f6c45;

.btn {
  background-color: $dark-green;
  color: $beige;
  border: $dark-green;
}

.btn:hover {
  background-color: $light-green;
  color: $beige;
  border: $light-green;
}


.jumbotron {
  // mods
  background-image: url('/images/tech.svg');
  color: $beige;
  height: 500px;
  // og
  padding: $jumbotron-padding ($jumbotron-padding / 2);
  margin-bottom: $jumbotron-padding;
  background-color: $light-green;
  @include border-radius($border-radius-lg);
  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
}

.card-img-top {
  background-color: $light-green;
}

svg {
  fill: $beige;
}

.profile {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 50px auto;
}

#about {
  text-align: center;
  height: 700px;
  background-color: $dark-green
}

#contact {
  background-color: $light-green;
  color: $beige;
  text-align: center;
  height: 700px;
}

footer .navbar-nav {
  text-align: center;
}

// back to top button


// Custom.scss
// Option B: Include parts of Bootstrap

// Required
// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";

// Optional
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/code";
// @import "../node_modules/bootstrap/scss/grid";
